@media  screen and (min-width:1200px){
    .card-size{
        width: 800px;
    }
}
@media  screen and (min-width:880px) and ( max-width:1200px){
    .card-size{
        width: 600px;
    }
}
@media  screen and (min-width:700px) and (max-width:880) {
    .card-size{
        width: 450px;
    }
}
